[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/plexus/chemacs2.git
[submodule "config/doom-emacs/.emacs.d"]
	path = config/doom-emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
