[init]
	defaultBranch = main
[user]
	name = fessely
	email = fabien.essely@gmail.com
[core]
	editor = emacs
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
